# Entorno virtual
.venv/

# Compilación Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store

# Variables de entorno
.env

# Archivos generados (solo el contenido, no la carpeta)
src/ai_doc/generated_files/*
!src/ai_doc/generated_files/.gitkeep

# Archivos generados específicos
*.pdf
